.account-page {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.account-message-page {
  font-size: 30px;
  font-weight: bold;
  place-self: start;
  min-height: 70vh;
  margin-left: 20px;
}

.account-page-group {
  display: flex;
  place-items: center;
  flex-direction: column;
  width: fit-content;
}

.account-box {
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.7);
  width: max-content;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-radius: 12px;
}

.account-form {
  @extend .account-box;
  padding: 30px;
}

.account-label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-label-text {
  margin-right: 10px;
}

.account-input {
  font-size: 20px;
  border: 1px solid;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 3px grey;
}

.account-form-button {
  font-size: 16px;
  width: fit-content;
  place-self: center;
  padding: 4px 10px 4px 10px;
  background-color: lime;
  border: 1px solid black;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

.account-form-error {
  font-size: 18px;
  color: red;
  margin-top: 5px;
}

.account-register-box {
  @extend .account-box;
  padding: 10px 15px 10px 15px;
  flex-direction: row;
  margin-top: 20px;
  font-size: initial;
}

.account-register-text {
  margin-right: 4px;
}

.account-external {
  @extend .account-box;
  margin-top: 20px;
  place-items: center;
  justify-content: start;
  flex-direction: row;
  width: 100%;
  font-size: initial;
}

.account-external-button {
  display: flex;
  place-items: center;
  background: transparent;
  border: 0px;
}

.account-external-button:hover {
  cursor: pointer;
}

.account-external-picture {
  width: 40px;
  height: 40px;
  justify-self: center;
}

.account-external-text {
  margin-left: 15px;
  margin-right: 10px;
}

.account-summary {
  border-collapse: collapse;
}

.account-info-box {
  @extend .account-box;
  padding: 40px;
}

.account-summary-title {
  font-size: 24px;
  text-align: start;
  padding-bottom: 20px;
}

.account-summary-row {
  border-bottom: 1px solid black;
}

.account-summary-item-title {
  font-size: 18px;
  text-align: start;
  padding-right: 100px;
  padding-top: 10px;
  font-weight: bolder;
}

.account-summary-item {
  font-size: 18px;
  text-align: end;
  color: #000066;
  padding-left: 100px;
  padding-top: 10px;
  font-weight: bolder;
}

.account-verification-button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.account-verification-submit-button {
  @extend .account-form-button;
}
.account-verification-email-button {
  @extend .account-form-button;
  background-color: transparent;
  border: 1px solid back;
  margin-top: 10px;
}

.account-info-message {
  margin-top: 20px;
  color: navy;
}
