.main {
  height: 100%;
  min-width: 100%;
  display: flex;
}

.search-sidebar {
  background-color: #ededed;
  display: flex;
  justify-self: start;
  justify-items: center;
  flex-direction: column;
  min-height: 81vh;
  max-height: fit-content;
  width: 350px;
  padding: 15px;
}

.search-sidebar-item {
  border-radius: 12px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  border-width: 0;
  padding: 5px 20px 5px 20px;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
}

input:focus-within {
  outline: none;
}

input:focus-visible {
  outline: none;
}

.search-picker {
  @extend .search-sidebar-item;
  background-color: white;
}

.search-sidebar-submit {
  border: 0px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  background-color: #00ff19;
  width: fit-content;
  justify-self: center;
  place-self: center;
}

.search-picker-delimiter {
  margin: 0px 10px 0px 10px;
}

.value-picker {
  font-size: 15px;
  border: 0;
  text-align: center;
  width: 150px;
}

.list-picker {
  @extend .search-picker;
  justify-content: space-between;
  place-items: center;
}

.list-picker-container {
  place-items: center;
  font-size: initial;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-item {
  background-color: #d9d9d9;
  border-radius: 2px;
  font-size: 15px;
  color: #8d8d8d;
  margin: 3px;
  padding-left: 3px;
  white-space: nowrap;
}

.list-item-button {
  background-color: transparent;
  border-color: transparent;
  color: #717171;
}

.list-picker-button {
  @extend .list-item-button;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin: 3px 0px 3px 0px;
}

.popup-content {
  min-width: 150px;
  min-height: 100px;
  max-height: 20%;
  border-radius: 10px;
  margin: 0px;
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  place-items: center;
  justify-content: space-between;
  background-color: white;
}

.popup-content-item {
  @extend .list-item;
  padding-right: 3px;
  margin: 10px 10px 10px 10px;
  border: 0px;
}

.search-list {
  width: 100%;
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  place-items: center;
}

.search-item {
  background-color: #b7b7b7;
  height: fit-content;
  width: max-content;
  min-width: 700px;
  place-self: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  margin-top: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.search-item-image {
  width: 150px;
  height: 54px;
  margin: 10px;
  border-radius: 10px;
}

.search-item-title {
  place-self: start;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  overflow-x: hidden;
  white-space: nowrap;
}

.search-item-platforms {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  margin-left: 10px;
}

.search-item-platform {
  height: 40px;
  width: 40px;
}

.search-item-middle {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: max-content;
  height: auto;
  justify-self: flex-start;
  justify-content: space-around;
}

.search-item-price {
  margin: 20px;
  font-size: 20px;
}

.search-item-left-group {
  display: flex;
  flex-direction: row;
}
