.cart-page {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-self: center;
  min-height: 82vh;
  width: 50%;
}

.cart-item {
  background-color: transparent;
  height: fit-content;
  width: max-content;
  min-width: 700px;
  place-self: top;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
  color: inherit;
}

.cart-total {
  font-size: 20px;
  font-weight: bold;
  place-self: end;
  margin: 50px;
}

.cart-item-image {
  width: 150px;
  height: 54px;
  margin: 10px;
  border-radius: 10px;
}

.cart-item-title {
  place-self: start;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  overflow-x: hidden;
  white-space: nowrap;
}

.cart-item-platforms {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  margin-left: 10px;
}

.cart-item-platform {
  height: 40px;
  width: 40px;
}

.cart-item-middle {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: max-content;
  height: auto;
  justify-self: flex-start;
  justify-content: space-around;
}

.cart-item-price {
  margin: 20px;
  font-size: 20px;
}

.cart-item-left-group {
  display: flex;
  flex-direction: row;
}

.cart-item-group {
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100vw;
  margin-top: 30px;
}

.cart-item-delete {
  margin-left: 20px;
  border: 0px;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 40px;
  aspect-ratio: 1 / 1;
  font-size: 20px;
  place-self: center;
}

.add-to-cart-form {
  width: max-content;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-radius: 12px;
  padding: 30px;
  justify-content: space-between;
}

.add-to-cart-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.add-to-cart-title {
  font-size: 15px;
}

.add-to-cart-value {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.add-to-cart-button {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
}

.cart-checkout-button {
  text-decoration: none;
  background-image: linear-gradient(to top right, #7c3aed, #a21caf);
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}

:root {
  --cart-address-cart-padding: 40px;
}

.cart-checkout-page {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-self: center;
  min-height: 82vh;
  width: 80%;
}

.cart-address-radio {
  appearance: none;
  top: calc(var(--cart-address-cart-padding) / 2);
  background: white;
  border: 2px solid gray;
  position: absolute;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: background 0.2s ease-out, border-color 0.2s ease-out;
  height: 25px;
  width: 25px;

  &::after {
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    position: absolute;
    height: 0.75rem;
    width: 0.375rem;
    left: 25%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
  }

  &:checked {
    background: green;
    border-color: green;
  }
}

.card:hover .radio {
  border-color: darkgray;

  &:checked {
    border-color: green;
  }
}

.cart-address-card {
  position: relative;
  width: max-content;
  height: max-content;
  display: block;

  &:checked {
    border-color: green;
  }
}

.cart-address-card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 40px;
}

.cart-address-card:hover {
  cursor: pointer;
}

.cart-address-radio:hover {
  cursor: pointer;
}

.cart-address-radio:checked ~ .cart-address-table {
  border-color: green;
  box-shadow: none;
}

.cart-address-table {
  width: max-content;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-collapse: collapse;
  border-radius: 15px;
  padding: calc(var(--cart-address-cart-padding));
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
}

.cart-address-card-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.cart-address-card-label {
  padding-right: 40px;
  text-align: start;
  width: 100px;
  overflow-x: hidden;
  white-space: nowrap;
}

.cart-address-card-value {
  padding-left: 40px;
  text-align: end;
  width: 100px;
  overflow-x: hidden;
  white-space: nowrap;
}

.cart-checkout-credit-card {
  margin-top: 3em;
}

.cart-checkout-credit-card-front {
  height: 13em;
  aspect-ratio: 3.375 / 2.125;
  background-color: darkgray;
  border-radius: 15px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cart-checkout-credit-card-back {
  height: 13em;
  aspect-ratio: 3.375 / 2.125;
  background-color: darkgray;
  border-radius: 15px;
  display: flex;
  position: relative;
  margin-top: -9em;
  margin-left: 10em;
}

.cart-checkout-credit-card-number {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 1em;
  right: 1em;
}

.cart-checkout-credit-card-number-title {
  text-align: center;
}

.cart-checkout-credit-card-number-input {
  font-size: 1.75em;
  background-color: transparent;
  border: 0px;
  width: 9.75em;
  place-self: center;
}

.cart-checkout-credit-card-date {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.cart-checkout-credit-card-date-title {
  text-align: center;
}

.cart-checkout-credit-card-date-input {
  font-size: 1.1em;
  width: 2.75em;
  background-color: transparent;
  border: 0;
  place-self: center;
}

.cart-checkout-credit-card-holder {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.cart-checkout-credit-card-holder-title {
  text-align: start;
}

.cart-checkout-credit-card-holder-input {
  font-size: 1.1em;
  width: 7em;
  background-color: transparent;
  border: 0;
}

.cart-checkout-credit-card-cvv {
  display: flex;
  flex-direction: column;
  position: absolute;
  place-self: center;
  right: 4em;
}

.cart-checkout-credit-card-cvv-title {
  text-align: center;
}

.cart-checkout-credit-card-cvv-input {
  font-size: 1.1em;
  width: 1.75em;
  background-color: transparent;
  border: 0;
  border-radius: 0.5em;
  place-self: center;
}

.cart-checkout-place-order {
  font-size: 1.3em;
  letter-spacing: 2px;
  border: 0;
  background-color: lime;
  color: black;
  border-radius: 15px;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em 1em 0.5em 1em;
}

.cart-checkout-place-order:disabled {
  cursor: default;
  background-color: slategray;
}
