.title {
  font-weight: bold;
  font-size: 32px;
  color: white;
  margin: 20px;
}

.title-link {
  text-decoration: none;
}

.navbar {
  position: sticky;
  overflow: hidden;
  background-color: #171a21;
  text-align: left;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-button {
  width: 160px;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  display: flex;
  place-items: center;
  justify-content: center;
  color: black;
  border: 0px;
  padding: 10px;
  text-decoration: none;
  background-color: white;
}

.login-button {
  @extend .account-button;
  margin: 20px 20px 20px 10px;
  background-color: #00ff19;
}

.register-button {
  @extend .account-button;
  margin: 20px 10px 20px 20px;
  background-color: white;
}

.logout-button {
  @extend .account-button;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.account-buttons-box {
  display: flex;
  justify-items: center;
  flex-direction: row;
}

.accounts-logged-text {
  place-self: center;
  font-size: 20px;
  color: white;
}
